body {
  font-family: sans-serif;
}

form {
  height: 100%;
}

input[type="text"] {
  width: 100%;
  text-transform: uppercase;
}

button#submit {
  width: 100%;
}

#result span.result-title {
  text-transform: lowercase;
  color: #9d9d9d;
  font-size: 16px;
}

#result span {
  font-size: 20px;
  text-transform: uppercase;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
